<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key><false/>
        <key>Label</key>
        <string>com.yodelr.reminder</string>
        <key>ProgramArguments</key>
        <array>
            <string>{{.BinPath}}</string>
            <string>notify</string>
            <string>{{.Message}}</string>
            <string>{{.Title}}</string>
            <string>{{.Subtitle}}</string>
            {{if .Ping}}
              <string>--ping</string>
            {{end}}
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            {{range $key, $val := .Interval}}
                <key>{{$key}}</key>
                <integer>{{$val}}</integer>
            {{end}}
        </dict>
    </dict>
</plist>
